<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RecipeGenius{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_styles %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <ul>
            {% if 'user_id' in session %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
            {% endif %}
                <li><a href="{{ url_for('recipe.post_recipe') }}">All Recipes</a></li>
            {% block extra_nav %}{% endblock %}
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
