{% extends 'base.html' %}

{% block extra_styles %}
    <style>
        .spinner {
            display: inline-block;
            vertical-align: middle;
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-left-color: #007bff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("recipe-list").addEventListener("click", function (event) {
            if (event.target.matches(".instructions-button")) {
                const recipeIndex = event.target.dataset.recipeIndex;
                toggleInstructions(recipeIndex);
            }
        });
    });

    function addIngredientInput() {
        const emptyInputs = $(".ingredient").filter(function() {
            return !$(this).val();
        });

        if (emptyInputs.length === 0) {
            const newInput = '<input type="text" class="ingredient">';
            $("#ingredients-form").append(newInput);
        } else {
            alert("Please fill in the empty input field before adding a new one.");
        }
    }


    async function toggleInstructions(recipeIndex, isUserLoggedIn) {
        const instructionsElement = document.getElementById(`instructions-${recipeIndex}`);
        const spinnerElement = document.getElementById(`spinner-${recipeIndex}`);
        const postRecipeButtonElement = document.getElementById(`post-recipe-button-${recipeIndex}`);
        const loginMessageElement = document.getElementById(`login-message-${recipeIndex}`);

            // Hide login message
        loginMessageElement.style.display = "none";

        if (instructionsElement.style.display === "none") {
            if (isUserLoggedIn) {
                // Show loading spinner
                spinnerElement.style.display = "inline-block";

                // Fetch and display instructions
                const recipeName = document.querySelectorAll(".recipe-show")[recipeIndex].innerText;

                const response = await fetch("/get_instructions", {
                    method: "POST",
                    body: JSON.stringify({recipe_name: recipeName}),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                const instructions = await response.text();
                const formattedInstructions = instructions.replace(/\n/g, '<br>');
                instructionsElement.innerHTML = formattedInstructions;
                instructionsElement.style.display = "block";

                // Show Post Recipe button
                postRecipeButtonElement.style.display = "inline-block";

                // Hide loading spinner
                spinnerElement.style.display = "none";
            }
        } else {
            instructionsElement.style.display = "none";
            postRecipeButtonElement.style.display = "none";
        }
    }




    function getRecipe() {
        // Show loading spinner
        document.getElementById("loading-spinner").style.display = "block";

        const ingredients = $(".ingredient").map(function () {
            return $(this).val();
        }).get();

        if (ingredients.length === 0) {
            alert("Please enter at least one ingredient.");
            return;
        }

        $.post("/get_recipe", {ingredients: ingredients.join(', ')}, function(data) {
            // Hide loading spinner
            document.getElementById("loading-spinner").style.display = "none";

            console.log(data);
            const recipesArray = data.match(/[^\r\n]+/g);
            let recipeListHtml = "";
            for (let i = 0; i < recipesArray.length; i++) {
                const formattedRecipe = recipesArray[i].replace(/\r\n|\r|\n/g, '<br>').replace(/^\d+\./, '').trim(); // Remove the recipe number
                recipeListHtml += `<div class="recipe-show">${formattedRecipe} <button class="instructions-button" data-recipe-index="${i}">Show Instructions</button><p id="login-message-${i}" class="login-message" style="display:none;"></p>
                                    <div class="spinner" id="spinner-${i}" style="display:none;"></div><p id="instructions-${i}" class="instructions" style="display:none;"></p> <button class="post-recipe-button" id="post-recipe-button-${i}" data-recipe-index="${i}" style="display:none;">Submit your dish</button></div><br>`;
            }


            $("#recipe-list").html(recipeListHtml);
        });

    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("recipe-list").addEventListener("click", function (event) {
            if (event.target.matches(".instructions-button")) {
                const recipeIndex = event.target.dataset.recipeIndex;
                
                // Use the value from the hidden input element
                const isUserLoggedIn = document.getElementById("is-user-logged-in").value === 'true';
                
                const instructionsElement = document.getElementById(`instructions-${recipeIndex}`);

                if (instructionsElement.style.display === "none" && !isUserLoggedIn) {
                    const loginMessageElement = document.getElementById(`login-message-${recipeIndex}`);
                    loginMessageElement.innerHTML = "You need to login to view the instructions.";
                    loginMessageElement.style.display = "block";
                } else {
                    toggleInstructions(recipeIndex, isUserLoggedIn);
                }
            }
        });

        document.getElementById("recipe-list").addEventListener("click", function (event) {
            if (event.target.matches(".post-recipe-button")) {
                const recipeIndex = event.target.dataset.recipeIndex;
                redirectToPostPage(recipeIndex);
            }
        });
    });

    function redirectToPostPage(recipeIndex) {
        const recipeElement = document.querySelectorAll(".recipe-show")[recipeIndex];
        const recipeTitle = recipeElement.innerText.split("Show Instructions")[0].trim();
        const instructionsElement = document.getElementById(`instructions-${recipeIndex}`);
        const ingredients = $(".ingredient").map(function () {
            return $(this).val();
        }).get().join(', ');

        const formattedInstructions = instructionsElement.innerHTML.replace(/<br>/g, '\n'); // Replace <br> with \n for proper line breaks

        const url = `/new_post?title=${encodeURIComponent(recipeTitle)}&ingredients=${encodeURIComponent(ingredients)}&instructions=${encodeURIComponent(formattedInstructions)}`;
        window.location.href = url;
    }

</script>
{% endblock %}

{% block content %}
<input type="hidden" id="is-user-logged-in" value="{{ 'true' if session.user_id else 'false' }}">
    <div class="container">
        <h1>RecipeGenius</h1>
        <p>Enter ingredients:</p>
        <div id="ingredients-form">
            <input type="text" class="ingredient">
        </div>
        <button onclick="addIngredientInput()">Add Ingredient</button>
        <button onclick="getRecipe()">Get Recipe</button>
        <h2>Recommended Recipes:</h2>
        <div class="spinner" id="loading-spinner" style="display:none;"></div>
        <div id="recipe-list"></div>
    </div>
{% endblock %}


