{% extends 'base.html' %}

{% block extra_nav %}
    <li><a href="{{ url_for('index') }}">Home</a></li>
{% endblock %}

{% block content %}
    <div class="container" style="position: relative;">
        <h1>Post a Recipe</h1>
        <form id="post-recipe-form" method="post" enctype="multipart/form-data">                
            <label for="title">Title:</label>
            <input type="text" name="title" required><br>
            <label for="ingredients">Ingredients:</label>
            <input type="text" name="ingredients" required><br>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions" required></textarea><br>
            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/*" id="image"><br>
            <p id="error-message" style="display: none; color: red;">Please select an image.</p>
            <input type="submit" value="Submit">
        </form>
        <script>
            document.getElementById("post-recipe-form").addEventListener("submit", function(event) {
                const image = document.getElementById("image");
                const errorMessage = document.getElementById("error-message");
            
                if (!image.value) {
                    event.preventDefault();
                    errorMessage.style.display = "block";
                } else {
                    errorMessage.style.display = "none";
                }
            });
        </script>        
        <h2>All Recipes</h2>
        {% for recipe in recipes %}
            <div class="recipe">
                <h3>{{ recipe[1] }}</h3>
                <p>By: {{ recipe[4] }}</p>
                <p>Ingredients: {{ recipe[2] }}</p>
                <p>Instructions: {{ recipe[3] }}</p>
                {% if recipe[5] %}
                    <img src="{{ url_for('static', filename='uploads/' + recipe[5]) }}" alt="Recipe image" class="recipe-image">
                {% endif %}
            </div>
        {% endfor %}

        {% if not session.user_id %}
            <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.8); z-index: 1000;">
                <div class="alert alert-warning" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    If you want to post, you need to log in!
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
